.page_container{
  height: 100vh;
  flex-direction: row;
  align-items: flex-start;
  background-color: tomato;
}

.header_container {
  height: 30vmax;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: tomato;
}

.logo_content {
  flex: 2;
  height: 100%;
  align-items: center;
  padding: 40px;
  color: white;
}
.copy_content{
  flex:3;
  height: 100%;
  padding-top: 100px;
  justify-content: left;
}

.input_form{
  flex: 2;
  height:300px;
  width: 400px;
  background-color: yellowgreen;
}

h1{
  font-size: 2em;
}

@media (min-width: 650px ) {
  .page_container{
    height: 100%;
    flex-direction: row;
  }

  .header_container {
    height: 100vh;
    flex-direction: column;
    background-position: center center;
    background-color: tomato;
  }

  .logo_content {
    flex:2;
    height: 100%;
    justify-content: left;
  }

  .copy_content{
    flex:3;
    height: 100%;
    margin-top: 40;
    justify-content: left;
  }

  .input_form{
    flex: 4;
    height:20vh;
    width: 20vw;
    background-color: yellowgreen;
  }

  h1{
  font-size: 3em;
  }

}