.header_container{
  display: flex; 
  flex-direction: column;
  height: 40vmin;
}

.left_container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 100vw;
  color: white;
  background-image: url('../src/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color:rgb(147, 147, 147);
  
  
}


.input_container{
  display: flex;
  position: absolute;
  height:90%;
  width: 100%;
  background-color:rgb(186, 186, 186);
  overflow: scroll;
  margin: auto;
}

.title{
  display: flex;
  font-size: 1.5em;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 10vmin;
  width:70%;
  font-family:'Lato-bold' ;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.639);
  line-height: 1em;
  flex-direction: column;
  align-items: flex-end;
}

.text{
  display: flex;
  font-family:'Lato-bold';
  width: 70%;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 1em;
  line-height: 1.2em;
  color: white;
}

h1{
  font-size: 1.5em;
  font-family:'Lato';
  margin-left: 20px;
}

@media (min-width: 650px ) {


  .header_container{
    display: flex; 
    flex-direction: row;
    height: 100vh;
    background-image: url('../src/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-left: 20px;
  }

  .left_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70vw;
    color:white;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);

  }
  
  .right_container {
    display: flex;
    height: 100vh;
    width: 55vmax;
    padding-right: 50px;
    justify-content: center; 
    flex-direction: column;
    align-items: flex-end;
  
  }

  .input_container{
    height:80vmin;
    width: 55vmin;
    margin: auto;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.70);
    border-radius: 20px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.639);

  }

  .text{
    display: flex;
    padding-top: 5px;
    font-family:'Lato-bold';
    width: 80%;
    font-size: 1.1em;
    line-height: 1.2em;
    justify-content: center;
    color: black;
  }

  .title{
    display: flex;
    font-size: 3em;
    justify-content: flex-end;
    margin-top: 20vmax;
    align-items:flex-end;
    font-family:'Lato' ;
    line-height: 1em;
    width: 70%;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.639);
  }


  h1{
    font-size: 1.5em;
    font-family:'Lato' ;
    text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.762);
  }
}